@model SendMailStockViewModel
@{
    ViewData["Title"] = "Ürün Tedarik";
    Layout = "~/Areas/Administrator/Views/Shared/_AdministratorLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ürün Tedarik</h3>
    </div>
    <form asp-action="SendMailStock" method="post">        
        <div class="card-body">
            <div>
                <label>Stoğu Azalmış Ürünler</label>
                <select class="form-control" asp-items="@ViewBag.ProductListItem" asp-for="ProductId">
                    <option selected="" enabled>Ürün Seç</option>
                </select>
            </div>
            <div>
                <label asp-for="PurchaseUserId">Satın Alma Personeli Mail</label>
                <select class="form-control" asp-items="@ViewBag.PurchaseList" asp-for="PurchaseUserId">
                    <option selected="" enabled>Personel Seç</option>
                </select>
            </div>          
            <div class="form-group">
                <label asp-for="MailBody">Mail İçeriği</label>
<textarea class="form-control" rows="3" placeholder="Enter ..." asp-for="MailBody"></textarea>
            </div>         
        </div>
        
            <button type="submit" class="btn btn-primary">Gönder</button>
       
    </form>
</div>



